div{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
}
span{
	
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
}
#container{
	margin:40px;
	background:transparent;
}

.starclicked{
	color:red;
}
#chartplaceholder {
		width: 300px;
		height:200px;
	}
#audiocontainer{
	margin:3%;
}
.rating{
	position:relative;
	top:-110px;
	left:110px;
	font-size:10px;
}
.pds-box-outer{
	padding : 12px;
}
.pds-question-top{
	
font-size: 14px;
line-height: 120%;
color: #333;
font-weight: bold;
padding: 5px 0px 15px 0px;
position: relative;
}
.pds-answer{
	
padding: 10px 0px 10px 0px;
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
}

.pds-answer-group{
	
display: block;
padding: 8px 0px 8px 0px;
}
.pds-answer-input{
	
display: block;
float: left;
width: 25px;
}
.pds-answer-label{
	
color: #333;
font-size: 13px;
line-height: 150%;
position: relative;
}
.pds-input-label{
	
display: block;
float: left;
width: 245px;
cursor: pointer;
}
.pds-clear{
display: block;
clear: both;
}
.pds-box{
	
font-family: Helvetica, Arial, sans-serif;
background: #fff;
border: 1px solid #ccc;
width: 300px;
font-size: 12px;
text-align: left;
color: #4e4e4e;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}
.pds-vote-button:hover{
	border: 1px solid #333;
}
.pds-vote{
	padding: 10px 0px;
}
.pds-links{
	
padding: 10px 0px 0px 0px;
display: block;
text-align: center;
}
.pds-vote-button{
	
color: #464646;
padding: 3px 25px;
white-space: nowrap;
background: #F2F2F2 url(./image/white-grad.png) repeat-x scroll left top;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
border: 1px solid #999;
cursor: pointer;
}
.pds-box A{
	outline:none;
}
.textspeechcontent{
font-size: 14px;
line-height: 20px;
margin-top: 16px;
word-wrap: break-word;
display:block;
}
 